* {
    color: #9C9DA0;
}

.portada{
    padding: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 80px;
}

.portada-contenido{
    display: flex;
    flex-direction: column;
    animation: aparecer 1s ease-out;
    opacity: 1;
}

.portada-titulo{
    font-size: 40px;
}

.portada-slogan{
    margin-bottom: 32px;
    animation: aparecer-sitio 1.5s ease-in-out;
}

.portada-contacto{
    padding: 15px;
    background-color: azure;
    color: #0f0f0f;
    margin: 5px 0 25px 0;
    max-width: fit-content;
}

.portada-social-media{
    display: flex;
    align-items: baseline;
    gap: 15px;
}

.portada-boton-cv{
    padding: 15px;
    background-color: azure;
    color: #0f0f0f;
    margin: 5px 0 25px 0;
    min-width: 50px;
}

.portada-imagen{
    animation: aparecer-sitio 1s ease-in-out;
}

@media screen and (max-width: 480px) {
    .portada{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .portada-contenido{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
    }

    .portada-titulo{
        margin-bottom: 0.5px;
        font-size: 20px;
    }

    .portada-slogan{
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .portada-contacto{
        padding: 16px;
        background-color: azure;
        color: #0f0f0f;
        text-decoration: none;
        margin: 5px 0 25px 0;
    }

    .portada-social-media a {
        text-decoration: none;
    }

    .portada-boton-cv{
        padding: 15px;
        background-color: azure;
        color: #0f0f0f;
        margin: 5px 0 25px 0;
        min-width: 50px;
    }
}

@keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

@keyframes aparecer-sitio {
    0% {
        opacity: 0;
        
      }
    60% {
        opacity: 0;
    }
    100% {
    opacity: 1;
    
    }
}